<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctiontest20210331234351.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/343d59e8-79e9-4b45-80a7-be3034d9f9ef/resourcegroups/function-test-rg/providers/Microsoft.Web/sites/AzureFunctionTest20210331234351</ResourceId>
    <UserName>$AzureFunctionTest20210331234351</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azurefunctiontest20210331234351.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>